        body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: antiquewhite;
        }

        .empty {
            margin: 0;
            padding: 0;
            background-color: rgb(30, 30, 30);
            color: antiquewhite;
        }

        @media (min-width: 992px) {
            .bg {
            background-image:
            linear-gradient(to right,
            rgba(30, 30, 30, 1) 20%,
            rgba(30, 30, 30, 0.8) 70%,
            rgba(30, 30, 30, 0.2) 100%),
                url('../images/godridden.png');
            }
        }
        @media (max-width: 991px) {
            .bg {
            background-image:
            linear-gradient(to right,
            rgba(30, 30, 30, 0.7) 0%,
            rgba(30, 30, 30, 1) 70%),
                url('../images/godridden.png');
            }
        }

        @media (min-width: 992px) {
            .other {
            background-image:
            linear-gradient(to right,
            rgba(30, 30, 30, 1) 20%,
            rgba(30, 30, 30, 0.8) 70%,
            rgba(30, 30, 30, 0.2) 100%),
                url('../images/godridden3.png');
            }
        }
        @media (max-width: 991px) {
            .other {
            background-image:
            linear-gradient(to bottom,
            rgba(30, 30, 30, 1) 20%,
            rgba(30, 30, 30, 0.8) 70%,
            rgba(30, 30, 30, 0.2) 100%),
                url('../images/godridden3.png');
            }
        }

        @media (min-width: 992px) {
            .narrative {
            background-image:
            linear-gradient(to right,
            rgba(30, 30, 30, 1) 20%,
            rgba(30, 30, 30, 0.8) 70%,
            rgba(30, 30, 30, 0.2) 100%),
                url('../images/goddaemon.png');
            }
        }
        @media (max-width: 991px) {
            .narrative {
            background-image:
            linear-gradient(to bottom,
            rgba(30, 30, 30, 1) 20%,
            rgba(30, 30, 30, 0.8) 70%,
            rgba(30, 30, 30, 0.2) 100%),
                url('../images/goddaemon.png');
            }
        }

        /* @media (min-width: 992px) {
            .ui {
            background-image:
            linear-gradient(to top,
            rgba(30, 30, 30, 0.95) 20%,
            rgba(30, 30, 30, 0.8) 70%,
            rgba(30, 30, 30, 0.2) 100%),
                url('../images/ui_v3.png');
            }
        }
        @media (max-width: 991px) {
            .ui {
            background-image:
            linear-gradient(to top,
            rgba(30, 30, 30, 0.7) 0%,
            rgba(30, 30, 30, 0.95) 70%),
                url('../images/ui_v3.png');
            }
        } */

        .navbar-collapse {
            z-index: 1000;
        }

        @media (max-width: 991px) {
            .navbar-collapse.show {
                background-color: rgba(30, 30, 30, 0.95);
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            }
        }

        .nav-link {
            color:darkseagreen !important;
            font-weight: bold;
            text-align: end;
        }


        .nav-link:hover {
            color:rgb(47, 107, 73) !important;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28143, 188, 143, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        .navbar-toggler {
            color:rgb(30, 30, 30);
            border: none;
        }

        .nav-link {
            color:darkseagreen !important;
            font-weight: bold;
        }

        .link-primary {
            color:darkseagreen !important;
            text-decoration: none;
        }

        .link-primary:hover {
            color:rgb(47, 107, 73) !important;
        }

        .main a:hover {
            color:whitesmoke;
        }

        .main {
            display: flex;
            align-items: center;
            min-height: 100vh;
        }

        .small-title {
            display: inline;
        }
        .normal-title {
            display: none;
        }

        /* À partir de 360px : small-title visible, normal-title caché */
        @media (min-width: 360px) {
            .small-title {
                display: none;
            }
            .normal-title {
                display: inline;
            }
        }

        .fixed-image {
            height: 150px;
            object-fit: cover;
        }

        .square-img {
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: center;
        }

        .bestiaire-img {
            width: 100%;
            object-fit: contain;
            object-position: center;
        }

        .titan-img {
            width: 100%;
            height: 800px;
            object-fit: cover;
            object-position: top;
        }

        @media (max-width: 425px) {
            .bestiaire-img {
                height: 200px;
            }
        }
        @media (max-width: 768px) {
            .bestiaire-img {
                height: 300px;
            }
        }
        @media (min-width: 769px) {
            .bestiaire-img {
                height: 400px;
            }
        }
        @media (max-width: 991px) {
            .bestiaire-img {
                height: 400px;
            }
        }
        @media (min-width: 992px) {
            .bestiaire-img {
                height: 600px;
            }
        }

        #lake {
            object-position: bottom;
        }

        #titan {
            object-position: 0% 65%;
        }

        .carousel-caption.centered {
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }